.App {
  text-align: center;
  font-size: 24px;
}

th {
  padding: 5px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

button {
  display: block;
  width: 100%;
  border: none;
  background-color: #04aa6d;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
}
